<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="d-flex">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-secondary" style="width: 280px;">
                <div class="d-flex justify-content-between mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="images/faviconlogo.png" class="d-block">
                    <p class="fs-4">SniperCRM</p>
                    <span class="material-symbols-outlined text-primary">Radio_button_checked</span>
                </div>
                <div class="text-center">
                    <p class="fw-bold text-mute mb-0">Naira Networks</p>
                    <p class="mt-0">Expires 21-xx-xxxx</p>
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item align-items-center">
                    <a href="#" class="nav-link active d-flex" aria-current="page">
                        <span class="material-symbols-outlined">dashboard</span>
                        <p class="ms-3">Dashboard</p>
                    </a>
                </li>
                <li class="align-items-center">
                    
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Group</span> 
                        <p class="ms-3">Users</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="/productCategory" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">category</span>
                        <p class="ms-3">Product Categoies</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">inventory</span>
                        <p class="ms-3">Products</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">feed</span>
                        <p class="ms-3">Forms</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Local_Shipping</span>
                        <p class="ms-3">Agents</p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Credit_Card</span>
                        <p class="ms-3">Expenses</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Business_center</span>
                        <p class="ms-3">Inventory</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Calendar_Month</span>
                        <p class="ms-3">Todays Deliveries</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <p class="ms-3">Order</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">Finance</span>
                        <p class="ms-3">Accounting</p>
                    </a>
                </li>
                <li class="align-items-center">
                    <a href="#" class="nav-link link-body-emphasis d-flex">
                        <span class="material-symbols-outlined">settings</span>
                        <p class="ms-3">Store Settings</p>
                    </a>
                </li>
                </ul>
                <hr>
                <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
                </div>
            </div>
            <div class="w-100 p-3">
                <div class="d-flex justify-content-end mb-5">
                    <span class="material-symbols-outlined">Fullscreen</span>
                    <span class="material-symbols-outlined">Notifications_active</span>
                    <div class="text-center adminText">
                        <p class="mb-0">Admin</p>
                        <p class="mt-0">Sms units</p>
                    </div>
                    <span class="material-symbols-outlined">Account_circle</span>
                </div>



            